{% extends "./web-base.html" %}
{% load static %}
{% block content %}

    <div class = "create-drink-view">
        <div class = "view-back-btn">
            <a class = "btn btn-danger" href = "{% url 'index' %}">Back</a>
        </div>

        <div class = "card">
            <div class = "card-header">
                <!-- Drink Title -->
                <h3 class = "card-title">New Drink</h3>
            </div>

            <div class = "card-body">
                <div class = "row">
                    <div class = "col-4">
                        <div class = "text-center ml-auto mr-auto img-holder">
                            <img class = "img-fluid" src = "https://via.placeholder.com/400"/>
                        </div>
                    </div>

                    <div class = "col-8">
                        <form id = "new-drink-form" method = "post" action = "/drinks/create-drink">
                            {% csrf_token %}

                            <!-- Drink Name -->
                            <div class = "form-group">
                                <label for = "{{form.name.id_for_label}}">Name:</label>
                                <input type = "text" class = "form-control" id = "{{form.name.id_for_label}}" name = "{{form.name.html_name}}"/>
                            </div>

                            <!-- Drink Picture -->
                            <div class = "form-group">
                                <label for = "{{form.img_url.id_for_label}}">Picture:</label>
                                <input type = "text" class = "form-control" id = "{{form.img_url.id_for_label}}" name = "{{form.img_url.html_name}}"/>
                            </div>

                            <!-- Drink Desc -->
                            <div class = "form-group">
                                <label for = "{{form.desc.id_for_label}}">Description:</label>
                                <textarea type = "text" class = "form-control" id = "{{form.desc.id_for_label}}" name = "{{form.desc.html_name}}"></textarea>
                            </div>
                            <!-- Submission button -->
                            <button type = 'submit' class = "float-right btn btn-submit btn-danger">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
  
            </div>
        </div>
    </div>

{% endblock %}