{% load static %}
<div class="card ml-auto mr-auto" style="max-width: 20rem;">
  <div class = "card-header">
    <h3 class="card-title">{{drinktitle}}</h3>
  </div>
  <div class="card-body">
    
    <div class = "ml-auto mr-auto card-img-holder">
        <img class = "img-fluid" src = "{% static drinkimage %}"/>
    </div>

    <div class = "bottom-info row">
        <div class = "rating text-center col-8">
            <!-- Placeholder-->
            {% with ''|center:rating as range %}
            {% for i in range %}
                <div class = "rating-img">
                    <img class = "img-fluid" src = "{% static '/drinkreviews/drink.png' %}"/>
                </div>
            {% endfor %}
            {% endwith %}
        </div>

        <div class = "view-btn col-4">
            <div class = "btn float-right btn-default">
                View
            </div>
        </div>
    </div>
  </div>

</div>