{% extends "./web-base.html" %}
{% load static %}
{% block content %}

    <div class = "drink-view">
        <div class = "view-back-btn">
            <a class = "btn btn-danger" href = "{% url 'index' %}">Back</a>
        </div>

        <div class = "card">
            <div class = "card-header">
                <!-- Drink Title -->
                <h3 class = "card-title">{{drink.name}}</h3>
            </div>

            <div class = "card-body">
                <div class = "row">

                    <div class = "col-4">
                        <!-- Drink Image -->
                        <div class = "ml-auto mr-auto img-holder">
                            <img class = "img-fluid" src = "{{drink.img_url}}"/>
                        </div>

                        <!-- Drink Rating -->
                        <div class = "rating">
                            <!-- Placeholder-->
                            {% with ''|center:drink.rating as range %}
                            {% for i in range %}
                                <div class = "rating-img">
                                    <img class = "img-fluid" src = "{% static '/drinkreviews/drink.png' %}"/>
                                </div>
                            {% endfor %}
                            {% endwith %}
                        </div>



                        <!-- Drink Review Button-->
                        <a href = "{% url 'review' drink.id %}" class ="btn btn-review btn-block btn-danger">
                            Review
                        </a>

                    </div>

                    <!-- About Drink -->
                    <div id = "drink-about-info" class = "col-8">
                        <h1 class = "drink-title">About {{drink.name}}</h1>
                        <p class = "drink-desc">
                            {{drink.desc}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}